<div class="container">
  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ETH-BTC
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div> -->

  <h2>Bids</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Price</th>
        <th scope="col">
          Quantities
          (
          {{#each names}}
            <span class="api-{{this}}">{{this}}</span>
            {{#unless @last}}
              ,
            {{/unless}}
          {{/each}}
          )
        </th>
      </tr>
    </thead>
    <tbody>

      {{#each ob.bids}}
        <tr>
          <td>{{this.price}}</td>
          <td>
            {{formatQuantities this.quantities ../names}}
          </td>
        </tr>
      {{/each}}
  </table>

  <h2>Asks</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Price</th>
        <th scope="col">
          Quantities
          (
          {{#each names}}
            <span class="api-{{this}}">{{this}}</span>
            {{#unless @last}}
              ,
            {{/unless}}
          {{/each}}
          )
        </th>
      </tr>
    </thead>
    {{#each ob.asks}}
      <tr>
        <td>{{this.price}}</td>
        <td>
          {{formatQuantities this.quantities ../names}}
        </td>
      </tr>
    {{/each}}
  </table>
</div>
