<div class="container">

  <h1 class="text-center">ETH/BTC</h1>
  <p class="text-center">*Prices listed to buy 1 ETH in BTC</p>

  <form method="get" action="/" id="precision">
    <label for="precision">Aggregated to precision</label>
    <select name="precision" form="precision" onchange="this.form.submit()">
      {{option 2 precision}}
      {{option 3 precision}}
      {{option 4 precision}}
      {{option 5 precision}}
      {{option 6 precision}}
    </select>
  </form>


  <h2>Bids</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Price</th>
        <th scope="col">
          Quantities
          (
          {{#each names}}
            <span class="api-{{this}}">{{this}}</span>
            {{#unless @last}}
              ,
            {{/unless}}
          {{/each}}
          )
        </th>
      </tr>
    </thead>
    <tbody>

      {{#each ob.bids}}
        <tr>
          <td>{{this.price}}</td>
          <td>
            {{formatQuantities this.quantities ../names}}
          </td>
        </tr>
      {{/each}}
  </table>

  <h2>Asks</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Price</th>
        <th scope="col">
          Quantities
          (
          {{#each names}}
            <span class="api-{{this}}">{{this}}</span>
            {{#unless @last}}
              ,
            {{/unless}}
          {{/each}}
          )
        </th>
      </tr>
    </thead>
    {{#each ob.asks}}
      <tr>
        <td>{{this.price}}</td>
        <td>
          {{formatQuantities this.quantities ../names}}
        </td>
      </tr>
    {{/each}}
  </table>
</div>
